<!DOCTYPE html>
<html lang="en-US">
<head>
<title>District Workforce Development and Use</title>
<meta charset="utf-8">
<meta content="IE=edge"
      http-equiv="X-UA-Compatible">
<meta content="Our district planning for workforce development and use."
        name="description">
<meta content="Alan Pruitt, @westernazedd"
        name="author">
<meta content="Western Arizona Economic Development District, Inc."
        name="copyright">
<meta content="index,follow"
        name="robots">
<meta content="https://www.waedd.org/workforce-development.html"
        name="url">
<meta content="G-VB90GJLZ0J"
        name="google-analytics">
<meta content="Global"
        name="distribution">
<link href="img/favicon/waedd-favicon.png"
        rel="icon"
        type="img/favicon">
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
        name="viewport">
<link rel="apple-touch-icon" sizes="60x60" href="img/touch-icons/apple-touch-icon-ipad-76x76.png">
<link rel="stylesheet" type="text/css" href="css/waedd.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-orange.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Roboto", sans-serif}
.w3-bar-block .w3-bar-item {
  padding: 16px;
  font-weight: bold;
}
</style>
</head>
<body>
    <nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card" style="z-index:3;width:250px;" id="mySidebar">
        <a class="w3-bar-item w3-button w3-border-bottom w3-large" href="#"><img src="/img/webp/waedd-logo.webp" alt="western arizona economic develoment district logo" style="width:80%;"></a>
        <a class="w3-bar-item w3-button w3-hide-large w3-large" href="javascript:void(0)" onclick="w3_close()">Close <i class="fa fa-remove"></i></a>
        <a class="w3-bar-item w3-button w3-orange" href="index.html">Home</a>
        <a class="w3-bar-item w3-button" href="about.html">About</a>
        <a class="w3-bar-item w3-button" href="board.html">Board</a>
        <a class="w3-bar-item w3-button" href="ceds.html">CEDS</a>
        <a class="w3-bar-item w3-button" href="contact.html">Contact</a>
        <a class="w3-bar-item w3-button" href="distress.html">Distress</a>
        <a class="w3-bar-item w3-button" href="files.html">Files</a>
        <a class="w3-bar-item w3-button" href="meetings.html">Meetings</a>
        <a class="w3-bar-item w3-button" href="partners.html">Partners</a>
        <a class="w3-bar-item w3-button" href="projects.html">Projects</a>
        <a class="w3-bar-item w3-button" href="sitemap.html">Sitemap</a>
        <a class="w3-bar-item w3-button" href="twitter.html">Twitter</a>
      </nav>
      <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>
      <div class="w3-main" style="margin-left:250px;">
      <div id="myTop" class="w3-container w3-top w3-theme w3-large">
        <p><i class="fa fa-bars w3-button w3-orange w3-hide-large w3-xlarge" onclick="w3_open()"></i>
        <span id="myIntro" class="w3-hide">CEDS | Workforce Development & Use</span></p>
      </div>
      <header class="w3-container w3-theme" style="padding:64px 32px">
        <h1 class="w3-xxlarge">Western Arizona Economic Development District</h1>
      </header>
      <div class="w3-container" style="padding:32px">
          <h2>5.0 Workforce Development & Use</h2>
          <h3 id="c51">5.1 Mohave County</h3>
          <p>
            The Mohave County workforce is divided by the different cities and Mohave County, with each having different workforce skillsets and other unemployment and growth percentages.
        </p>
          <h3 id="c511">5.1.1 Kingman Economic Region</h3>
        <p>
            The Kingman Economic Region comprises eight zip codes that encompass 2,133 square miles, which contained about {{ context_dict['population']['Kingman city, Arizona'] | int | comma_separated }} people in {{ context_dict['acs_year'] }}. This region has the highest population density of the three geographies detailed in this report at {{ context_dict['pop_density:Kingman city, Arizona'] }} persons per square mile, who compose a total of {{ context_dict['total_households']['Kingman city, Arizona'] | int | comma_separated }} households, with a household size of {{ context_dict['avg_hh_size']['Kingman city, Arizona'] }}. The Kingman poverty rate is {{ context_dict['poverty_rate']['Kingman city, Arizona'] }}%.
        </p>    
        <p>
            Approximately {{ context_dict['pct_hh_between_15_50']['Kingman city, Arizona'] }}% of these households earn between $15,000 to $50,000. Total employment in this economic region is {{ context_dict['employment']['Kingman city, Arizona'] | int | comma_separated }} persons, with an average income of ${{ context_dict['per_capita_income']['Kingman city, Arizona'] | int | comma_separated }}. The Kingman Economic Region's significant employers include Kingman Regional Medical Center, American Woodmark Corp., IWX Motor Freight, McKee Foods, Trueserve, Laron, Cantex, and Cascades Tissue.
        </p>
        <p>
            This economic region contains the most diverse of the three and hosts significant manufacturing, transportation, logistics, aviation industries, and healthcare and tourism industries. The Kingman Economic Region must take advantage of its existing critical mass of sectors and continue developing its multimodal transportation options.
        </p>
        <p>
            As ports on the west coast continue to experience more unloading delays, the freight hauling and logistics industries will be looking for alternatives further and further inland, since unloading delays cause massive monetary losses for these industries. Attracting sectors that focus on alternative energy component manufacturing (as opposed to generation) such as solar cells, is also worthy of attention.
        </p>
        <p>
            The leading industries for employment in the Kingman Economic Region are {% for industry, percentage in context_dict['top-industries:Kingman city, Arizona'].items() %}{{ industry }}({{percentage}}%) {% endfor %}.
        </p>
        <p>
            According to the BLS, the most recent unemployment rate for Kingman is {{ context_dict['current_unemployment:Kingman city'][1] }}% in {{ context_dict['current_unemployment:Kingman city'][0] }}. For the same month, the metro unemployment rate was {{ context_dict['current_unemployment_vs_AZ:Kingman city'][0] }}% {{ context_dict['current_unemployment_vs_AZ:Kingman city'][1] }} than the Arizona rate. The unemployment rate in Kingman peaked in {{ context_dict['max_unemployment:Kingman city'][0] }} at {{ context_dict['max_unemployment:Kingman city'][1] }}% and is now {{ context_dict['current_unemployment_vs_peak:Kingman city'][0] }}% {{ context_dict['current_unemployment_vs_peak:Kingman city'][1] }}.
        </p>
        <h6><a href="ceds.html">Return to CEDS</a></h6>
        <hr>
        <h3 id="c512">5.1.2 Lake Havasu Economic Region</h3>
        <p>
            The Lake Havasu City Economic Region comprises four zip codes that encompass 2,396 square miles, which contained {{ context_dict['population']['Lake Havasu City city, Arizona'] | int | comma_separated }} people in {{ context_dict['acs_year'] }}. This region hosts {{ context_dict['pop_density:Lake Havasu City city, Arizona'] }} persons per square mile, comprises {{ context_dict['total_households']['Lake Havasu City city, Arizona'] | int | comma_separated }} households, with a household size of {{ context_dict['avg_hh_size']['Lake Havasu City city, Arizona'] }}. Approximately {{ context_dict['pct_hh_between_15_50']['Lake Havasu City city, Arizona'] }}% of these households earn between $15,000 to $50,000. In Lake Havasu City, {{ context_dict['poverty_rate']['Lake Havasu City city, Arizona'] }}% of people live in poverty.
        </p>
        <p>
            Total employment in this economic region is {{ context_dict['employment']['Lake Havasu City city, Arizona'] | int | comma_separated }} persons, with an average income of ${{ context_dict['per_capita_income']['Lake Havasu City city, Arizona'] | int | comma_separated }}. The major employers in the Lake Havasu City Economic Region include London Bridge Resort, Havasu Samaritan Regional Hospital, Mohave Community College, Sterilite Corporation, and Wal‐Mart. This economic region contains several cluster families and is more diversified than its neighbor to the north, Bullhead City. 
        </p>
        <p>
            ASU@Lake Havasu City is a small, low-cost extension of the Arizona State University system offering high-demand, undergraduate degrees. The campus opened in Lake Havasu City, Arizona, in the Fall of 2012 and focuses on an experiential, student-centered approach to learning, including information technology and healthcare.
        </p>
        <p>
            The Lake Havasu Economic Region must build on its unique assets in the region as a hub for motorsports and information technology industries and nurture its well-established tourism industries. 
        </p>
        <p>
            The top three clusters in Lake Havasu City Economic Region include {% for industry in context_dict['top-industries:Lake Havasu City city, Arizona'] %}{{ industry }}, {% endfor %} which contain {% for industry in context_dict['top-industries:Lake Havasu City city, Arizona'] %}{{ context_dict['top-industries:Lake Havasu City city, Arizona']['industry'] }} percent, {% endfor %} of total employment.
        </p>
        <p>
            According to the BLS, the most recent unemployment rate for Lake Havasu City (LHC) is {{ context_dict['current_unemployment:Lake Havasu City city'][1] }}% in {{ context_dict['current_unemployment:Lake Havasu City city'][0] }}. For the same month, the metro LHC unemployment rate was {{ context_dict['current_unemployment_vs_AZ:Lake Havasu City city'][0] }}% {{ context_dict['current_unemployment_vs_AZ:Lake Havasu City city'][1] }} than the Arizona rate. The unemployment rate in Lake Havasu City peaked in {{ context_dict['max_unemployment:Lake Havasu City city'][0] }} at {{ context_dict['max_unemployment:Lake Havasu City city'][1] }}% and is now {{ context_dict['current_unemployment_vs_peak:Lake Havasu City city'][0] }}% {{ context_dict['current_unemployment_vs_peak:Lake Havasu City city'][1] }}.
        </p>
        <h6><a href="ceds.html">Return to CEDS</a></h6>
        <hr>
        <h3 id="c513">5.1.3 Bullhead City Economic Region</h3>
        <p>
            The Bullhead City Economic Region comprises twelve zip codes from Mohave County, Arizona, Clark County, Nevada, and San Bernardino County, California. This region encompasses 2,591 square miles and contains {{ context_dict['population']['Kingman city, Arizona'] | int | comma_separated }} people in {{ context_dict['acs_year'] }}. These statistics translate to {{ context_dict['pop_density:Bullhead City city, Arizona'] }} persons per square mile, who compose a total of {{ context_dict['total_households']['Bullhead City city, Arizona'] | int | comma_separated }} households, with a household size of {{ context_dict['avg_hh_size']['Bullhead City city, Arizona'] }}.
        </p>
        <p>
            Approximately 58 percent of these households earn between $15,000 to $50,000. Total employment in this economic region is {{ 
              ['Bullhead City city, Arizona'] | int | comma_separated }} persons, with an average income of ${{ context_dict['per_capita_income']['Bullhead City city, Arizona'] | int | comma_separated }}, and a poverty rate of {{ context_dict['poverty_rate']['Bullhead City city, Arizona'] }}%. The major employers in the Bullhead City Economic Region include Western Arizona Regional Medical Center, Silver Ridge Village, DOT Foods, and Mohave Community College.
        </p>
        <p>
            This economic region is primarily reliant on the tourism industry, specifically the entertainment and gaming industries located in Laughlin, Nevada. Proximity to Lake Mohave and Lake Havasu provides a significant recreational sector, while the regional medical center is the core of this region's healthcare industry. The Bullhead City Economic Region needs diversification and should seek to support its neighbors' more diverse economies. Industry clusters that are mature in this region include Arts and Entertainment, and Healthcare. 
        </p>
        <p>
            According to the BLS, the most recent unemployment rate for Bullhead City is {{ context_dict['current_unemployment:Bullhead City city'][1] }}% in {{ context_dict['current_unemployment:Bullhead City city'][0] }}. For the same month, the metro Bullhead City unemployment rate was {{ context_dict['current_unemployment_vs_AZ:Bullhead City city'][0] }}% {{ context_dict['current_unemployment_vs_AZ:Bullhead City city'][1] }} than the Arizona rate. The unemployment rate in Bullhead City peaked in {{ context_dict['max_unemployment:Bullhead City city'][0] }} at {{ context_dict['max_unemployment:Bullhead City city'][1] }}% and is now {{ context_dict['current_unemployment_vs_peak:Bullhead City city'][0] }}% {{ context_dict['current_unemployment_vs_peak:Bullhead City city'][1] }}.
        </p>
         <h6><a href="ceds.html">Return to CEDS</a></h6>
         <hr>
         <h3 id="c52">5.2 Greater Yuma County (including La Paz County) Economic Region
        </h3>
        <p>
            High unemployment remains an issue in Yuma. Citing August 2019 data, the Bureau of Labor Statistics ranked Yuma as #1 among the 13 U.S. cities that post unemployment rates above 15 percent. Yuma's agricultural workforce, which adjusts to the picking season, is cited as the reason for the high unemployment by the Arizona Department of Commerce. Yuma County is 5,519 sqaure miles in area and has a population of {{ context_dict['population']['Yuma County, Arizona'] | int | comma_separated }} people, and a population density of {{ context_dict['pop_density:Yuma County, Arizona'] }} people per sqaure mile. Yuma county has a total of {{ context_dict['total_households']['Yuma County, Arizona'] | int | comma_separated }} households, with an average household size of {{ context_dict['avg_hh_size']['Yuma County, Arizona'] }}.
        </p>
        <p>
            La Paz County is 5,519 sqaure miles in area and has a population of {{ context_dict['population']['La Paz County, Arizona'] | int | comma_separated }} people, and a population density of {{ context_dict['pop_density:La Paz County, Arizona'] }} people per sqaure mile. La Paz County has a total of {{ context_dict['total_households']['La Paz County, Arizona'] | int | comma_separated }} households, with an average household size of {{ context_dict['avg_hh_size']['La Paz County, Arizona'] }}.
        </p>
        <p>
            Yuma County has always been seen as a lower wage area. Yuma County also chronically has one of the highest unemployment rates in the country, approaching a high of 30 percent at one time (August 2010). But many of the unemployed lack the training, skills, and certification to fill the better-paying jobs that are available. Companies with the need for more skilled labor come to job fairs, only to leave empty-handed because they can't find qualified applicants.
        </p>
        <p>
            Not only do available jobs go wanting for lack of qualified applicants, but it also means the area has trouble attracting companies that offer better-paying jobs. Yuma County continues to be the destination for the lower-paying jobs. The area must have to have a higher-skilled workforce to attract better-paying jobs. On the other hand, the lack of higher-skilled jobs drives young people to leave the community to seek careers elsewhere. And others who come to Yuma as the military spouses and professionals often cannot find a job here to match their skills.
        </p>
            In Yuma County, {{ context_dict['pct_hh_between_15_50']['Yuma County, Arizona'] }}% of households earn between $15,000 to $50,000, {{ context_dict['employment']['Yuma County, Arizona'] | int | comma_separated }} persons employed total, an average per-capita income of ${{ context_dict['per_capita_income']['Yuma County, Arizona'] | int | comma_separated }}, and {{ context_dict['poverty_rate']['Yuma County, Arizona'] }}% of people living below the poverty level. For La Paz County, {{ context_dict['pct_hh_between_15_50']['La Paz County, Arizona'] }}% of households earn between $15,000 to $50,000, a total employment of {{ context_dict['employment']['La Paz County, Arizona'] | int | comma_separated }} persons, and an average per-capita income of ${{ context_dict['per_capita_income']['La Paz County, Arizona'] | int | comma_separated }}. The poverty rate in La Paz County is {{ context_dict['poverty_rate']['La Paz County, Arizona'] }}%.
        <p>
            The community has made some strides, such as the STEAM (science, technology, engineering, agriculture, and math) program offered by Yuma Union High School District, in partnership with Arizona Western College. In collaboration with the University of Arizona, the college is also making it easier for Yumans to pursue college degrees in engineering. 
        </p>
        <p>
            The top ten employers in Yuma County based on number of employees are: #1 U.S. Army Proving Ground (YPG) (military); #2 Yuma Regional Medical Center (healthcare); #3 Yuma Elementary School District (education) #4 Wal-Mart Stores (retail); #5 City of Yuma (government); #6 Yuma County (government); #7 U.S. Marine Corps Air Station (MCAS) (military); #8 Bose Corporation (manufacturing); #9 US Border Patrol (government); and #10 ACT, Advanced Call Center Technologies (call center.)
        </p>
        <p>
            The unemployment rate in Yuma County is {{ context_dict['current_unemployment:Yuma County'][1] }}% as of {{ context_dict['current_unemployment:Yuma County'][0] }}, with job growth of - 0.42%. Future job growth over the next ten years is predicted to be 15.46%. For the same month, Yuma County's unemployment rate is {{ context_dict['current_unemployment_vs_AZ:Yuma County'][0] }}% {{ context_dict['current_unemployment_vs_AZ:Yuma County'][1] }} than the Arizona rate. The La Paz County unemployment rate is {{ context_dict['current_unemployment:La Paz County'][1] }}% as of {{ context_dict['current_unemployment:La Paz County'][0] }}. Compared to the rest of Arizona, La Paz County's unemployment rate is {{ context_dict['current_unemployment_vs_AZ:La Paz County'][0] }}% {{ context_dict['current_unemployment_vs_AZ:La Paz County'][1] }}. 
        </p>
        <h6><a href="ceds.html">Return to CEDS</a></h6>
<hr>
    </div>
    <footer class="w3-container w3-theme" style="padding:32px">
        <q>We build connections with the people and communities in La Paz, Mohave, and Yuma counties.</q>
      </footer>

      <script>
        // Open and close the sidebar on medium and small screens
        function w3_open() {
          document.getElementById("mySidebar").style.display = "block";
          document.getElementById("myOverlay").style.display = "block";
        }
        
        function w3_close() {
          document.getElementById("mySidebar").style.display = "none";
          document.getElementById("myOverlay").style.display = "none";
        }
        
        // Change style of top container on scroll
        window.onscroll = function() {myFunction()};
        function myFunction() {
          if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
            document.getElementById("myTop").classList.add("w3-card-4", "w3-animate-opacity");
            document.getElementById("myIntro").classList.add("w3-show-inline-block");
          } else {
            document.getElementById("myIntro").classList.remove("w3-show-inline-block");
            document.getElementById("myTop").classList.remove("w3-card-4", "w3-animate-opacity");
          }
        }
        
        // Accordions
        function myAccordion(id) {
          var x = document.getElementById(id);
          if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            x.previousElementSibling.className += " w3-theme";
          } else { 
            x.className = x.className.replace("w3-show", "");
            x.previousElementSibling.className = 
            x.previousElementSibling.className.replace(" w3-theme", "");
          }
        }
        </script>
      </div>
</body>
</html>